.footer {
  background: rgb(255, 255, 255);
  color: #c5a875;
  text-align: center;
}

.heading {
  font-size: 2rem;
}

.container {
  align-content: center;
  max-width: 1200px;
  min-height: 10rem;
  margin: 0 auto;
  padding: 0 24px;
}

.copyright {
  font-size: 1rem;
  color: #c5a875;
  font-weight: 300;
  font-family: "Lemon Milk";
}